.link-btn {
  padding: 5px 5px;
  background-color: #2ea32e;
  border-radius: 4px;
  color: #f1e7e7;

  text-decoration: none;
}
.link-btn:hover {
  background-color: #088508;
  color: #8c9da7;
}
.btn-b {
  height: 40px !important;
  width: 80px;
  border-radius: 5px;
  background-color: #2ea32e;
  color: white;
  border: none;
}
.btn-b:hover {
  background-color: #088508;
  color: #f1e7e7;
}
.display {
  display: none;
}
@media only screen and (max-width: 600px) {
  .btn-l {
    height: 40px !important;
    width: 80px;
    border-radius: 5px;
    background-color: #2ea32e;
    color: white;
    border: none;
  }
  .btn-l:hover {
    background-color: #088508;
    color: #f1e7e7;
  }
}
